In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

In [4]:
fb_df = pd.read_csv('../data/epl2020.csv')
POSITIONS = np.array(range(1, 21))

In [5]:
teams = fb_df['teamId'].unique()

# Get the results for each team
team_results = []
for team in teams:
    # Get the data for that team
    team_data = fb_df[fb_df['teamId'] == team]
    
    wins = team_data['wins'].sum()
    draws = team_data['draws'].sum()
    losses = team_data['loses'].sum()
    scored = team_data['scored'].sum()
    conceded = team_data['missed'].sum()
    games = wins + draws + losses
    points = (3 * wins) + draws
    goal_difference = scored - conceded
    
    team_results.append([team, games, wins, draws, losses, scored, conceded, goal_difference, points])

league_table = pd.DataFrame(team_results, columns=['Team', 'P', 'W', 'D', 'L', 'F', 'A', 'GD', 'Points'])
league_table.sort_values(by=['Points', 'GD', 'F'], ascending=False, inplace=True, ignore_index=True)
league_table.set_index(POSITIONS, inplace=True)
league_table.head(20)

                Team   P   W   D   L   F   A  GD  Points
1          Liverpool  29  27   1   1  66  21  45      82
2           Man City  28  18   3   7  68  31  37      57
3          Leicester  29  16   5   8  58  28  30      53
4            Chelsea  29  14   6   9  51  39  12      48
5            Man Utd  29  12   9   8  44  30  14      45
6             Wolves  29  10  13   6  41  34   7      43
7   Sheffield United  28  11  10   7  30  25   5      43
8          Tottenham  29  11   8  10  47  40   7      41
9            Arsenal  28   9  13   6  40  36   4      40
10           Burnley  29  11   6  12  34  40  -6      39
11    Crystal Palace  29  10   9  10  26  32  -6      39
12           Everton  29  10   7  12  37  46  -9      37
13  Newcastle United  29   9   8  12  25  41 -16      35
14       Southampton  29  10   4  15  35  52 -17      34
15          Brighton  29   6  11  12  32  40  -8      29
16          West Ham  29   7   6  16  35  50 -15      27
17           Watford  29   6   9  14  27  44 -17      27
18       Bournemouth  29   7   6  16  29  47 -18      27
19       Aston Villa  28   7   4  17  34  56 -22      25
20           Norwich  29   5   6  18  25  52 -27      21