In [3]:
# import
import pandas as pd
import numpy as np

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.linear_model import LinearRegression
import sklearn.metrics as sm
from sklearn.metrics import r2_score

In [19]:
data = pd.read_csv('data/bets.csv', sep=';')
#our dataset uses ; between columns instead of , 
#so have to change the delimiter

In [20]:
data.shape

(100000, 9)

In [21]:
data.info

<bound method DataFrame.info of            bet_id  user_id  bet_type       sport  odds  is_win   stake  \
0       bet_00001     3848  multiple  Ice Hockey  9.44   False   13.65
1       bet_00002      153    single    Football  8.79   False  248.45
2       bet_00003     1527    single    Football  1.50    True    3.50
3       bet_00004     3903    single      Tennis  1.55   False  151.45
4       bet_00005     2290    single    Football  1.47    True  319.05
...           ...      ...       ...         ...   ...     ...     ...
99995   bet_99996     2471    single    Football  8.00   False   16.80
99996   bet_99997     2700    single    Football  8.67    True  379.75
99997   bet_99998     3353  multiple      Tennis  2.17   False    9.45
99998   bet_99999     4417  multiple    Football  2.06   False   16.95
99999  bet_100000     3718    single    Football  2.16   False   33.65

          gain      GGR
0         0.00    13.65
1         0.00   248.45
2         5.25    -1.75
3         0.00   151.45
4       469.00  -149.95
...        ...      ...
99995     0.00    16.80
99996  3292.43 -2912.68
99997     0.00     9.45
99998     0.00    16.95
99999     0.00    33.65

[100000 rows x 9 columns]>