In [1]:
import pandas as pd
import numpy as np

import unidecode
import re
from sklearn.preprocessing import LabelEncoder

import seaborn as sns
import matplotlib.pyplot as plt
%matplotlib inline

from sklearn.linear_model import LinearRegression
import sklearn.metrics as sm
from sklearn.metrics import r2_score

In [4]:
football_data = pd.read_csv('data/Premier-League-2015-2019.csv')

In [5]:
football_data.sample(10)

,Date,HomeTeam,AwayTeam,outcome_by_HOME,AVERAGE_ODD_WIN,AVERAGE_ODD_DRAW,AVERAGE_ODD_OPPONENT_WIN,RANKINGHOME,RANKING AWAY,LAST_GAME_RHOMETEAM,LAST_GAME_RAWAYTEAM
1211,06/10/2018,Burnley,Huddersfield,D,6.280,6.445,3.778,7,16,1,-1
355,02/05/2016,Chelsea,Tottenham,D,7.554,3.348,2.648,1,5,-1,-1
178,26/12/2015,Swansea,West Brom,W,7.419,3.168,4.034,8,13,1,0
419,12/09/2016,Sunderland,Everton,L,9.459,3.462,2.283,17,11,0,0
1072,01/04/2018,Arsenal,Stoke,W,6.091,5.125,9.047,5,13,1,-1
1091,15/04/2018,Man United,West Brom,L,6.434,6.556,16.136,6,10,1,0
331,17/04/2016,Bournemouth,Liverpool,L,8.622,3.445,2.296,20,6,-1,-1
800,15/09/2017,Bournemouth,Brighton,W,6.100,3.215,3.510,9,20,-1,1
1149,12/08/2018,Southampton,Burnley,D,6.547,7.054,4.295,17,7,0,0
1061,17/03/2018,Huddersfield,Crystal Palace,L,7.307,3.115,2.711,20,14,0,-1